{{#if favoritesList.games}}
  <h2 class="favorite-title">Your Favorites List</h2>
  <h2 class="favorite-title">Average Review Score of Your Favorite Games: {{favoritesAverageScore}}</h2>
  {{#each favoritesList.games as |game|}}
  <div class="row favorite-box">
    <div class="col-sm-6">
      <img class="detail-image" src={{game.image}}>
    </div>

    <div class="col-sm-6 game-info">
      <h2>{{game.title}}</h2>
      <h2>{{game.developer}}</h2>
      <h2>{{game.genre}}</h2>
    </div>
  </div>
  {{/each}}
{{else}}
  <h2 class="favorite-title">Your favorites list is empty.</h2>
  <h2 class="favorite-title">Head back to the games list and add some!</h2>
{{/if}}
