<h2>{{game.title}}</h2>
<br>
<div class="row">
  <div class="col-sm-8">
    <img class="detail-image" src="{{game.image}}">
  </div>

  <div class="col-sm-4">
    <h3>Genre: <span class="game-info">{{game.genre}}</span></h3>
    <h3>Developer: <span class="game-info">{{game.developer}}</span></h3>
    <br>
    <h4>Platform(s): <span class="game-info">{{game.platform}}</span></h4>
    <br>
    <button {{action 'addToFavorites' game}} class="btn add-to-favorites"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Favorites</button>
  </div>
</div>
